# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE settings
.idea/
.vscode/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore build artifacts
dist/
build/
